body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    width: 300px;
    text-align: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}
img {
    width: 100%;
    border-radius: 20px;
}
h1 {
    color: #1F314F;
    font-size: 22px;
    padding:10px;
}
p{
    color:#7D889E;
    font-size:15px;
    padding: 0 10px 10px;
}
